<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head('Advertencias')"></head>

<body>

<header th:replace="fragments/header :: header"></header>

<main class="container">

    <h1 class="page-title" th:text="#{navbar.advertencias}"></h1>

    <table class="table">

        <thead>
        <tr>
            <th th:text="#{warning.message}"></th>
            <th th:text="#{warning.date}"></th>
            <th th:text="#{users.actions}"></th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="a : ${page.content}">

            <td th:text="${a.mensaje}"></td>
            <td th:text="${a.fechaEnvio}"></td>

            <td>
                <a th:href="@{/advertencias/detail(id=${a.id})}"
                   th:text="#{users.view}"></a>
            </td>

        </tr>
        </tbody>

    </table>

</main>

<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>