<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Detalle de Advertencia</title>
</head>

<body>

<h2 th:text="#{warning.detail}"></h2>

<p><strong th:text="#{common.id}"></strong>: <span th:text="${advertencia.id}"></span></p>

<p><strong th:text="#{warning.message}"></strong>:
    <span th:text="${advertencia.mensaje}"></span>
</p>

<p><strong th:text="#{warning.date}"></strong>:
    <span th:text="${advertencia.fechaEnvio}"></span>
</p>

<p><strong th:text="#{warning.source}"></strong>:
    <span th:text="${advertencia.fuenteConfiable.nombre}"></span>
</p>

<a th:href="@{/advertencias}" th:text="#{common.back}"></a>

</body>
</html>