<footer th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml">

    <div class="footer">

        <!-- LOGO -->
        <div class="footer-logo">
            <img th:src="@{/images/digitalTrust_logo.png}"
                 src="/images/digitalTrust_logo.png"
                 alt="DigitalTrust Logo">
        </div>

        <!-- REDES SOCIALES -->
        <div class="footer-social">
            <p th:text="#{footer.social}"></p>

            <div class="social-icons">
                <img th:src="@{/images/ig_logo.png}" src="/images/ig_logo.png" alt="Instagram">
                <img th:src="@{/images/x_logoo.png}" src="/images/x_logoo.png" alt="Twitter">
                <img th:src="@{/images/logo_facebook.png}" src="/images/logo_facebook.png" alt="Facebook">
                <img th:src="@{/images/logo_tiktok.png}" src="/images/logo_tiktok.png" alt="TikTok">
            </div>
        </div>

        <!-- LINKS -->
        <div class="footer-links">
            <p><strong th:text="#{footer.what}"></strong></p>
            <ul>
                <li th:text="#{footer.link1}"></li>
                <li th:text="#{footer.link2}"></li>
                <li th:text="#{footer.link3}"></li>
            </ul>
        </div>

    </div>

</footer>