<footer th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml">

    <div class="footer">

        <div class="footer-logo">
            <h3 th:text="#{footer.brand}"></h3>
        </div>

        <div class="footer-social">
            <p th:text="#{footer.social}"></p>

            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-x-twitter"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-tiktok"></i>
        </div>

        <div class="footer-links">
            <p><strong th:text="#{footer.what}"></strong></p>
            <ul>
                <li th:text="#{footer.link1}"></li>
                <li th:text="#{footer.link2}"></li>
                <li th:text="#{footer.link3}"></li>
            </ul>
        </div>

    </div>

</footer>