<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head('Reportes')"></head>

<body>

<header th:replace="fragments/header :: header"></header>

<main class="container">

    <h1 class="page-title" th:text="#{navbar.reportes}"></h1>

    <table class="table">

        <thead>
        <tr>
            <th th:text="#{report.title}"></th>
            <th th:text="#{report.date}"></th>
            <th th:text="#{users.actions}"></th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="r : ${page.content}">

            <td th:text="${r.titulo}"></td>
            <td th:text="${r.fechaReporte}"></td>

            <td>
                <a th:href="@{/reportes/detail(id=${r.id})}"
                   th:text="#{users.view}"></a>

                <a th:href="@{/reportes/edit(id=${r.id})}"
                   th:text="#{users.edit}"></a>
            </td>

        </tr>
        </tbody>

    </table>

</main>

<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>