<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Detalle del Reporte</title>
</head>

<body>

<h2 th:text="#{report.detail}"></h2>

<p><strong th:text="#{common.id}"></strong>: <span th:text="${reporte.id}"></span></p>

<p><strong th:text="#{report.title}"></strong>: <span th:text="${reporte.titulo}"></span></p>

<p><strong th:text="#{report.description}"></strong></p>
<p th:text="${reporte.descripcion}"></p>

<p><strong th:text="#{report.date}"></strong>:
    <span th:text="${reporte.fechaReporte}"></span>
</p>

<p><strong th:text="#{report.level}"></strong>:
    <span th:text="${reporte.nivelPeligro}"></span>
</p>

<p><strong th:text="#{report.solved}"></strong>:
    <span th:text="${reporte.solucionado}"></span>
</p>

<a th:href="@{/reportes}" th:text="#{common.back}"></a>

</body>
</html>