<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head('Reporte')"></head>

<body>

<header th:replace="fragments/header :: header"></header>

<main class="container">

    <h1 th:text="#{report.title}"></h1>

    <form th:action="@{/reportes/insert}"
          th:object="${reporte}"
          method="post">

        <input th:field="*{titulo}" th:placeholder="#{report.title}">

        <textarea th:field="*{descripcion}" th:placeholder="#{report.description}"></textarea>

        <select th:field="*{nivelPeligro}">

            <option value="BAJO" th:text="#{report.low}"></option>
            <option value="MEDIO" th:text="#{report.medium}"></option>
            <option value="ALTO" th:text="#{report.high}"></option>

        </select>

        <button type="submit" th:text="#{common.save}"></button>

    </form>

</main>

<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>